/* STYLE SECTIONING TAGS */

/*CURSOR DESIGN*/
* {
  cursor: url("weapon.png") 16 16, auto;
}

button:hover {
  cursor: url("monster.png") 16 16, auto;
}


/* STYLE BODY */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 4em;
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: #0d83a0;
}

h2 {
  margin-top: 2em; 
  color: #c9a5ee;
  font-size: 2.4em;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: cener;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  text-align: center;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
  border: 5px solid #c9a5ee;
  border-radius: 10px;
  align-items: center;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  color: #ffffff;
  background-color: #c9a5ee;
  border: 3px solid #c9a5ee;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f0e1fe;
  color: white;
}
button:disabled {
  background-color: #cccccc;
  color: #666666;
  border-color: #cccccc;
  cursor: not-allowed;
}